<div class="modal fade" id="killUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">You are trying to kill user</h4>
      </div>
      <div class="modal-body">
        <h3>This can't be undone. Are you sure, mr.God?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" onclick="killUser(<%= @user.id %>)">Kill User</button>
      </div>
    </div>
  </div>
</div>
