<tr class="operation-data-row">
  <td>
    <%= operation.name %>
  </td>
  <td>
    <%= operation.type %>
  </td>
  <td>
    <%= operation.amount %>
  </td>
  <td>
    <%= operation.state %>
  </td>
</tr>
